* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#simon {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    background-color: white;
    height: 400px;
    width: 400px;
}

.block {
    border: 2px solid black;
    border-radius: 5%;
}

.red {
    background-color: red;
    transition: 1s;
}
.green {
    background-color: green;
    transition: 1s;
}

.yellow {
    background-color: yellow;
    transition: 1s;
}

.blue {
    background-color: blue;
    transition: 1s;
}

.highlight {
    background-color: white;
    transition: 1s;
}

#new-game{
    cursor: pointer;
}