* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#simon {
    margin: 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    background-color: white;
    border: 5px solid black;
    border-radius: 100%;
    height: 400px;
    width: 400px;
}

h1 {
    position: absolute;
    top: 47%;
    text-align: center;
    border: 2px solid black;
    border-radius: 100%;
    margin: 0;
    padding: 2%;
}

.red {
    background-color: red;
    transition-delay: .3s;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
}
.green {
    background-color: green;
    transition-delay: .3s;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
}

.yellow {
    background-color: yellow;
    transition-delay: .3s;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.blue {
    background-color: blue;
    transition-delay: .3s;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
}

.highlight {
    opacity: .5;
    transition-delay: .3s;
}

#new-game{
    cursor: pointer;
}